.skills{
    display: flex;
    justify-content: center;
    background-color: #090127;
    padding: 100px 0;
}
.skills .sub-skills{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
}
.skills .sub-skills .first{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: crimson; */
}
.skills .sub-skills .first .text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* background-color: darkgreen; */
}
.skills .sub-skills .first .text h2{
    font-size: 2rem;
    /* line-height: 0.5rem; */
    margin-bottom: 10px;
    color: #a06cd5;
}
.skills .sub-skills .first .text p{
    word-spacing: 2px;
    color: #d3cfcf;
    font-weight: 100;
}
.skills .sub-skills .first .text p a{
    color: #a06cd5;
}
.skills .sub-skills .first .work{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}
.skills .sub-skills .first .work .work-skill{
    max-width: 150px;
    background-color: #5f00ba;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;

}
.skills .sub-skills .first .work .work-skill h4{
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 0;
}
.skills .sub-skills .second{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #06248a; */
}
.skills .sub-skills .second .box{
    width: 90%;
    height: fit-content;
    border-radius: 20px;
    background-color: #a06cd5;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 30px 5px;
    box-shadow: 2px 2px 1px #06248a;
}
.skills .sub-skills .second .box h1{
    font-size: 2rem;
    line-height: 2rem;
    color: #090127;
    font-weight: normal;
}
.skills .sub-skills .second .box h1 span{
    font-weight: 800;
    font-size: 2rem;
    line-height: 1.7rem;
    color: #090127;
}
.skills .sub-skills .second .box .content button{
    background-color: #090127;
    color: #a06cd5;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;
    font-weight: 100;
    float: left;
}
.skills .sub-skills .second .box .content button:hover{
    color: #a06cd5;
}


@media screen and (max-width: 922px) {
    .skills .sub-skills{
        flex-direction: column;
    }
    .skills .sub-skills .first{
        width: 100%;
    }
    .skills .sub-skills .second{
        width: 100%;
        margin-top: 50px;
        align-items: center;
    }
    .skills .sub-skills .second .box{
        width: 100%;
    }
    .skills .sub-skills .second .box h1{
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .skills .sub-skills{
        width: 85%;
    }
}