.program{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: -moz-linear-gradient(to bottom, #5a07a7 50%, #35075f );
    background-image: linear-gradient(to bottom, #5a07a7 50%, #35075f );
    padding: 50px 10px;
    overflow-x: hidden;
    width: 100%;
}
.program h1{
    font-size: 2rem;
    width: 100%;
    text-align: left;
    margin-left: 25%;
    margin-bottom: 10px;
}
.program .sub-program{
    width: 75%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
    /* gap: 5px; */
}


@media screen and (max-width: 800px) {
    .program .sub-program{
        width: 90%;
    }
}