.heading{
    display: flex;
    justify-content: center;
    padding: 50px 20%;
    background-color: #35075f;
}
.heading .sub-heading{
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.heading .sub-heading h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
.heading .sub-heading p{
    color: #cac9c9;
}

@media screen and (max-width: 853px) {
    .heading{
        padding: 50px 5px;
    }
    .heading .sub-heading h2{
        font-size: 1.5rem;
    }
}