.about{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    overflow: hidden;
    background-color: #090127;
}
.about .sub-about{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.about .sub-about .img-div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}
.about .sub-about .img-div img{
    width: 100%;
    /* margin-top: 10px; */
}
.about .sub-about .text-div{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
}
.about .sub-about .text-div h1{
    margin-block-end: 0;
    font-weight: bolder;
}
.about .sub-about .text-div p{
    font-size: 15px;
    word-spacing: 2px;
    color: #d3cfcf;
    font-weight: 100;
}




@media screen and (max-width: 1120px) {
    .about{
        height: 100%;
    }
    .about .sub-about{
        flex-direction: column;
        justify-content: center;
    }
    .about .sub-about .img-div{
        width: 100%;
    }
    .about .sub-about .img-div img{
        width: 100%;
        margin-top: 20px;
    }
    .about .sub-about .text-div{
        width: 100%;
        justify-content: flex-start;
        margin-top: -100px;
        /* background-color: #090127; */
        background-image: linear-gradient(to top, #090127 90%, transparent );
    }
    .about .sub-about .text-div p{
        font-size: 1rem;
    }
}
@media screen and (max-width: 600px) {
    .about .sub-about{
        width: 88%;
    }
}