.home{
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: left;
    overflow: hidden;
    background-color: #4b058d;
}
.home .sub-home{
    width: 90%;
    height: 100%;
    display: flex;
    /* background-color: aqua; */
    padding: 20px 20px;
}
.home .sub-home .text-div{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 20px;
}
.home .sub-home .text-div span{
    color: #d3cfcf;
}
.home .sub-home .text-div h1{
    font-size: 3.5rem;
    font-style: bold;
}
.home .sub-home .text-div p{
    margin-bottom: 20px;
    word-spacing: 2px;
    color: #d3cfcf;
    /* padding-left: 20px;
    border-left: 4px solid #06248a; */
}
.home .sub-home .text-div a{
    text-decoration: none;
}
.home .sub-home .text-div a button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.home .sub-home .img-div{
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* background-color: blue; */
}
.home .sub-home .img-div img{
    position: relative;
    width: 120%;
    /* filter: drop-shadow(2px -2px 1px #06248a); */
}
.home .social{
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: center;
    align-items: center;
    background-color: #06258a7a;
}
.home .social svg{
    cursor: pointer;
}

@media screen and (max-width: 1198px) {
    .home{
        height: auto;
        background-image: url('../../img/IMG_20221103_160735_adobe_express.png');
        background-position: top;
        height: 90vh;
    }
    .home .sub-home{
        flex-direction: column-reverse;
        align-items: center;
    }
    .home .sub-home .img-div{
        width: 100%;
        display: none;
    }
    .home .sub-home .text-div{
        width: 100%;
        padding: 0 10%;
        margin-top: 20px;
        padding-bottom: 20px;
        /* background-color: #4b058dbb; */
        background-image: -moz-linear-gradient(to top, #4b058d 70%, transparent);
        background-image: linear-gradient(to top, #4b058d 70%, transparent);
    }
}

@media screen and (max-width: 585px) {
    .home .sub-home .text-div{
        width: 90%;
    }
    .home .sub-home .text-div h1{
        font-size: 2rem;
    }
}