html, body{
    margin: 0;
    padding: 0;
    background-color: #090127;
    /* background-image: -moz-linear-gradient(to bottom, #5a07a7 50%, #35075f );
    background-image: linear-gradient(to bottom, #5a07a7 50%, #35075f ); */
}
h1, h2, h3, h4{
    font-weight: bolder;
    font-size: 3rem;
    color: #ffffff;
    margin-block-start: 0;
    margin-block-end: 0;
}
span, a{
    color: #63585e;
    font-weight: 600;
    font-size: 15px;
}
a{
    padding: 5px;
}
p{
    color: #747070;
    font-weight: 600;
    font-size: 15px;
    margin-block-start: 0;
    margin-block-end: 0;
}
button{
    background-color: #a09be7;
    border: 2px solid #a09be7;
    color: #5f00ba;
    border-radius: 2px;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 7px 30px;
    cursor: pointer;
    position: relative;
}
button:is(:hover, :focus){
    background-color: transparent;
    color: #a09be7;
}
button:focus{
    zoom: 95%;
    border: 2px solid #06248a;
}
button:active{
    outline: 0;
    border: 2px solid #06248a;
}